{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Configurações</h2>
<p>Altere suas configurações aqui.</p>

<div class="theme-toggle">
    <h3>Alterar Tema</h3>
    <button id="toggleThemeButton" class="btn btn-primary">Alternar para Modo Escuro</button>
</div>

<div class="user-settings">
    <h3>Editar Informações Pessoais</h3>
    <form method="post" action="{% url 'update_user_info' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="userName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="userName" name="name" value="{{ user.name }}" required>
        </div>
        <button type="submit" class="btn btn-success">Salvar Alterações</button>
    </form>
</div>

<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}