body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 80px;
    bottom: 0;
    overflow-y: auto;
}

.content-wrapper {
    margin-left: 250px;
    width: calc(100% - 250px);
    margin-top: 80px;
    flex: 1;
}

header {
    z-index: 1030;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }

    .content-wrapper {
        margin-left: 0;
        width: 100%;
    }

    header {
        position: fixed;
        width: 100%;
    }

    .collapse {
        display: block;
    }
}

/* Estilos para o tema escuro */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme a {
    color: #bb86fc;
}

body.dark-theme .btn {
    background-color: #bb86fc;
    color: #121212;
}

body.dark-theme .bg-light {
    background-color: #1f1f1f !important;
}

body.dark-theme .border-end {
    border-color: #333333 !important;
}

/* Estilo para os textos das tabelas em tasks.html */
body.dark-theme table {
    color: white;
}

body.dark-theme table th,
body.dark-theme table td {
    color: white;
}